@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="signin">
    <div class="signin__warp">
        <div class="signin__content">
            <div class="signin__logo">
                <a href="#"><img src="img/siign-in-logo.png" alt=""></a>
            </div>
            <div class="signin__form">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login" aria-selected="false">
                            Sign in
                        </a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="signin__form__text">
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <p>Create a new account</p>
                                <hr />
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" placeholder="Enter your Email Address" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Enter a strong password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm your password"/>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="site-btn">Register</button>
                            </form>
                        </div>
                        <div class="divide">or</div>
                        <div class="signin__form__text">
                            <p>with your social network :</p>
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn rounded-circle btn-success" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-spotify fa-2x"></i></button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            <a class="close-login">Close</a>
            </div>
        </div>
    </div>
</div>
        @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to register.</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
